{% extends "layouts/layout.html" %}

{% block title %}Page Analyzer{% endblock %}


{% block content %}
<!-- этот блок заменит блок content из родительского шаблона -->



<div style="width: 50%; height: 350px; background-color: #070118; margin: 50px auto; border-radius: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px; box-sizing: border-box; padding: 20px;">
    <h1 style="font-size: 40px; color: rgb(255, 255, 255); margin: 0; text-align: center;">Page Analyzer</h1>
    <p style="font-size: 25px; color: rgb(255, 255, 255); margin: 0; text-align: center;">Бесплатно проверяйте сайты на SEO пригодность</p>
    
    <form action="/urls" method="post" style="display: flex; width: 90%; max-width: 500px; gap: 10px;">
        <input type="url" name="url" value="{{ url }}" placeholder="https://example.com" required style="flex-grow: 1; padding: 12px 15px; font-size: 16px; border: 1px solid #4a14dd; border-radius: 5px; outline: none; background-color: #1a1438; color: #fff;">
        <button type="submit" name="url-process" style="padding: 12px 30px; font-size: 16px; color: aliceblue; background-color: #4a14dd; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; white-space: nowrap;">Process</button>
    </form>
</div>

{% endblock %}